<div id="mc" class="starter-template">
  <h1>Market Chirp</h1>
  <p class="lead">All you need are the ABCs.<br>We're Alex, Brandon, Chris, and Sakib.</p>
</div>

<div class="info-section">
  <h3 class="text-left">What We Do</h3>
  <p class="lead">We deliver critical, real-time information about the stocks you care about before the market has time to respond.  When time is critical and information is king, our cutting edge technology will put you head and shoulders above the competition.</p>
</div>

<div class="info-section">
  <h3 class="text-left">Who We Are</h3>
  <p class="lead">We are a team of UCLA CS 188 engineering students who can quickly and reliably deliver valuable stock trading information in an intuitive manner.</p>
</div>

<div class="info-section">
  Enter keywords separated by spaces ($TSLA, $GOOG, etc.)
  <%= form_tag({}, method: "get") do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <% if @searching %>
    <h4><%= @tweets.count %> results for <%= @query %> excluding retweets.</h4>

    <hr>
      <% @tweets.each do |t| %>
      <%= t.text %>
    <hr>
    <% end %>

  <% end %>
</div>
