<div class="col-md-2 left-menu full-height no-padding">
<% if user_signed_in? %>
  <div class="row no-padding">
    <h4>Favorite Companies</h4>
  </div>

  <% if @user_companies %>
    <table class="table table-hover" id="current_favorites">
      <% @user_companies.each do |res| %>
        <tr class="fav_company_<%= res.id %>" data-link="<%= dashboard_path(res.symbol) %>">
          <td><%= res.symbol %></td>
          <td><%= res.name %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
</div>

<div class="col-md-10 full-height no-padding">
  <div class="row no-padding item-info">
    <div class="col-md-2">
      <% if @search_results %>
        <% if @user_companies.include?(@search_results) %>
          <%= button_to "Unwatch", remove_favorite_path(@search_results.id), method: :patch, remote: true, class: "favorite-btn-#{@search_results.id} btn btn-default"%>
        <% else %>
          <%= button_to "Watch", create_favorite_path(@search_results.id), remote: true, class: "favorite-btn-#{@search_results.id} btn btn-default" do%>
            <i class="glyphicon glyphicon-star-empty">Watch</i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-10" align="right">
      <%= form_tag({}, method: 'get', id: 'submit_container') do %>
        <%= label_tag(:tweet, 'Symbol:', class: 'symbol') %>
        <%= text_field_tag(:symbol) %>
        <%= submit_tag('Search', class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
  <div class="row no-padding">
    <div class="col-md-12">
      <% if not @search_results %>
        <h4>Search results for <%= @symbol %></h4>
        <table class="table table-hover" id="search_results">
          <% @search_results.each do |res| %>
            <tr data-link="<%= dashboard_path(res.symbol) %>">
              <td class="col-md-4"><%= res.symbol %></td>
              <td class="col-md-7"><%= res.name %></td>
              <td class="col-md-1">
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>

      <div class="col-md-8 no-padding">
<!--         <form action = "/favorite" method = "post">
            <label type="submit" class="btn btn-primary">
              <i class="glyphicon glyphicon-star-empty icon-white"></i>
            </label>
        </form> -->
        <% if @quotes && @hist %>
          <% @quotes.each do |symbol, qt| %>
            <h4><%= qt.name %></h4>
            <h4>
            <%= qt.lastTrade %>
            <% if qt.changePoints < 0 %>
              <font color="red"><%= qt.changePoints %> <small class="loss">(<%= qt.changePercent %>%)</small></font>
            <% elsif qt.changePoints > 0 %>
              <font color="green">+<%= qt.changePoints %> <small class="gain">(<%= qt.changePercent %>%)</small></font>
            <% else %>
              <font color="grey">+<%= qt.changePoints %> <small>(<%= qt.changePercent %>%)</small></font>
            <% end %>
            </h4>

            <div class="row no-padding">
            <div class="col-md-3 no-padding">Open:</div> <div class="col-md-4"><%= qt.open %></div>
            </div>
            <div class="row no-padding">
            <div class="col-md-3 no-padding">Previous Close:</div> <div class="col-md-4"><%= qt.previousClose %></div>
            </div>
            <div class="row no-padding">
            <div class="col-md-3 no-padding">Day Range:</div> <div class="col-md-4"><%= qt.dayRange %></div>
            </div>
            <div class="row no-padding">
            <div class="col-md-3 no-padding">Volume:</div> <div class="col-md-4"><%= qt.volume %></div>
            </div>

          <% end %>
        <% end %>
        <br>
        <!-- TradingView Widget BEGIN -->
        <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget({
          "width": "100%",
          "symbol": "<%= @symbol %>",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "White",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "rgba(241, 243, 246, 1)",
          "hideideas": true,
          "show_popup_button": true,
          "popup_width": "1000",
          "popup_height": "650"
        });
        </script>
        <br>
        <!-- TradingView Widget END -->

        <!-- <pre>
        <%= @hist %>
        </pre> -->
      </div>
      <div class="col-md-4">
        <% if @symbol && @symbol_rating && @num_tweets %>
          <h4>Sentiment <small>(-100 to 100)</small></h4>
          <p><small>Based on data from <%= @num_tweets %> tweets</small></p>
          <svg id="sentimentGraph" width="100%" height="200"></svg>
        <% end %>
        <hr>
        <% if @results %>
          <% @results.each do |res| %>
            <pre><%= res.to_json %></pre>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>


<script>
var configBad = liquidFillGaugeDefaultSettings();
configBad.circleColor = "#FF7777";
configBad.textColor = "#FF4444";
configBad.waveTextColor = "#FFAAAA";
configBad.waveColor = "#FFDDDD";

var configNeutral = liquidFillGaugeDefaultSettings();
configNeutral.circleColor = "#FFE303";
configNeutral.textColor = "#FBEC5D";
configNeutral.waveTextColor = "#FBEC5D";
configNeutral.waveColor = "#FFFFBA";

var configGood = liquidFillGaugeDefaultSettings();
configGood.circleColor = "#009900";
configGood.textColor = "#0E5144";
configGood.waveTextColor = "#6DA398";
configGood.waveColor = "#246D5F";

<% if @symbol_rating %>
  <% if @symbol_rating < 33 %>
    loadLiquidFillGauge("sentimentGraph", <%= @symbol_rating =%>, configBad);
  <% elsif @symbol_rating < 66 %>
    loadLiquidFillGauge("sentimentGraph", <%= @symbol_rating =%>, configNeutral);
  <% else %>
    loadLiquidFillGauge("sentimentGraph", <%= @symbol_rating =%>, configGood);
  <% end %>
<% end %>

function addCompanyRow(company) {
  var row_class = 'fav_company_'+company.id;
  $('#current_favorites tr:last').after(
    '<tr class=\"'+ row_class+'\"><td>'+company.symbol+'</td><td>'+company.name+'</td></tr>'
    ).animate("slow");
}

function removeCompanyRow(company_id) {
  var company_row = '.fav_company_'+company_id;
  $(company_row).fadeOut(300, function(){ $(this).remove();});
  // if company is in results, enable the favorite button
  $('.favorite-btn-'+company_id).removeClass('disabled');
}

$(document).on('ajax:success', 'form', function(event, data, status, xhr) {
  console.log("Hello!");
  console.log(event);
  console.log(data);
  console.log(status);

  if(data.action == "create") {
    // var table = document.getElementById("myTable");
    addCompanyRow(data.company)
  }
  else if(data.action == "remove") {
    removeCompanyRow(data.company_id)
  }
  $('#loading_image').hide();
});

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var symbols = <%= @tickers.html_safe %>;

$("tr").click(function() {
  window.location = $(this).data("link")
  if ($('#loading_image').length == 0) {
    $('#submit_container').after('<i class="fa fa-spinner fa-pulse fa-5x centered" style="display: none;" id="loading_image">')
  }
    $('#loading_image').show(); // show the animated image
    $(this).data("link").attr('disabled','disabled'); // disable double submits
})

$('#symbol').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
     source: substringMatcher(symbols)
  }
);

$('form').submit(function() {
  if ($('#loading_image').length == 0) {
    $('#submit_container').after('<i class="fa fa-spinner fa-pulse fa-5x centered" style="display: none;" id="loading_image">')
  }
    $('#loading_image').show(); // show the animated image
    $(':submit',this).attr('disabled','disabled'); // disable double submits
    return true; // allow regular form submission
});
</script>